.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(40, 40, 40, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.cert-modal {
  background: #fff;
  width: 450px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.modal-header h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

.close-btn {
  background: transparent;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
}

.modal-body label {
  font-weight: 500;
  display: block;
  margin: 10px 0 5px;
  color: black;
}

.required {
  color: red;
}

.input-with-clear {
  position: relative;
}

.input-with-clear input {
  width: 100%;
  padding: 8px 35px 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.clear-btn {
  position: absolute;
  right: 10px;
  top: 6px;
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
  color: #666;
}

.expiration-row {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.expiration-row select {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.checkbox-row {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.delete-btn {
  background: transparent;
  color: red;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.cancel-btn {
  background: #f3f3f3;
  border: none;
  border-radius: 6px;
  padding: 6px 14px;
  cursor: pointer;
}

.save-btn {
  background: #526d82;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 14px;
  cursor: pointer;
}

.right-buttons {
  display: flex;
  gap: 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.97);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
