.login-card {
  display: flex;
  width: 700px;
  max-width: 90%;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  margin: 150px auto;
  font-family: Arial, sans-serif;
}

/* Left panel for logo */
.left-panel {
  flex: 1;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-logo {
  max-width: 80%;
  height: auto;
}

/* Right panel for form */
.right-panel {
  flex: 1;
  padding: 30px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Form inputs */
.login-input {
  width: 96%;
  padding: 6px 0px 5px 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* CAPTCHA */
.captcha-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.captcha-canvas {
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.captcha-refresh {
  font-size: 18px;
  cursor: pointer;
  color: #3498db;
}

.error {
  color: red;
  font-size: 13px;
  margin-bottom: 10px;
}

/* Login button */
.login-button {
  width: 100%;
  padding: 6px 0px 5px 15px;
  margin-top: 10px;
  border: none;
  border-radius: 15px;
  background-color: #27374d;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #f2f2f2;
  color:#27374d
}

/* Forgot password button */
.forgot-password-btn {
  margin-top: 15px;
  background: none;
  border: none;
  color: black;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
}

.forgot-password-btn:hover {
  color: #27374d;
}

.user-type {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #555;
  text-align: center;
}

/* Extra buttons container */
.extra-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  gap: 10px;
}

/* Register button styling */
.register-btn {
  flex: 1;
  padding: 6px 0px 5px 15px;
  border-radius: 15px;
  border: 0px solid #27374d;
  background-color: #27374d;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  margin-top: 5px;
}

.register-btn:hover {
  background-color: #f2f2f2;
  color: #27374d;
}

/* Responsive */
@media (max-width: 768px) {
  .login-card {
    flex-direction: column;
  }

  .left-panel {
    padding: 15px;
  }

  .right-panel {
    padding: 25px 15px;
  }
}
