/* // Samruddhi Patole 29/10/25 */

.templates-page {
  padding: 40px;
  background: #f8fafc;
  min-height: 100vh;
  text-align: center;
}

.templates-title {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
}

.templates-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.template-card {
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 260px;
  padding: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.template-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.template-img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: #fff;
  width: 90%;
  height: 90%;
  border-radius: 10px;
  overflow: auto;
  animation: fadeIn 0.3s ease;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
