.classic-template {
  background: #fffaf3;
  font-family: "Times New Roman", serif;
  color: #2f2f2f;
  padding: 50px 80px;
  line-height: 1.6;
}
.classic-header {
  text-align: center;
  margin-bottom: 25px;
}
.classic-header h1 {
  font-size: 2.5rem;
  color: #8b5e3c;
}
.classic-template h2 {
  border-bottom: 2px solid #8b5e3c;
  color: #8b5e3c;
  margin-top: 20px;
}
.date {
  float: right;
  color: #555;
}
